<div class="container-sm">
    <h2>Show post</h2>
</div>

<%= render partial: 'post', locals: {post: @post} %>

<div class="container-sm">
    <% if current_user == @post.user %>
    <%= link_to "Edit", edit_post_path(@post) %>
    <% end %>

    <%= link_to 'Home', root_path %>

    <% if current_user == @post.user %>
    <%= button_to "Delete" class: "danger", @post, method: :delete %>
    <% end %>
</div>